asgiref==3.3.4
Django==3.2
django-auditlog==1.0a1
django-excel-response==2.0.5
django-jsonfield==1.4.1
django-widget-tweaks==1.4.8
et-xmlfile==1.1.0
jdcal==1.4.1
openpyxl==2.4.11
python-dateutil==2.6.0
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
