{% extends "base.html" %}

{% block pageheader %}
    <p>Home Page</p>
{% endblock pageheader %}

{% block contentheader %}
    <p class="text-blue-900">OBJECTION DASHBOARD</p>
{% endblock contentheader %}

{% block content %}
            <div class="flex w-full flex-wrap">
                <div class="w-full lg:w-1/2 xl:w-1/4 p-2 px-4">
                    <!--Metric Card-->
                    <div class="bg-gradient-to-b from-green-200 to-green-100 border-b-4 border-green-600 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-green-400"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
                                </svg></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                            <a href="{% url 'objection-unassigned' %}">
                                <h5 class="font-bold text-gray-600 text-xs uppercase">Unassigned Objections</h5>
                                <h3 class="font-bold text-gray-600 text-lg hover:text-5xl">{{ unassObj }}</h3>
                            </a>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full lg:w-1/2 xl:w-1/4 p-2 px-4">
                    <!--Metric Card-->
                    <div class="bg-gradient-to-b from-pink-200 to-pink-100 border-b-4 border-pink-500 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-pink-400"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                            <a href="{% url 'objection-pastdue' %}">
                                <h5 class="font-bold text-gray-600 text-xs uppercase">Past Due Items</h5>
                                <h3 class="font-bold text-gray-600 text-lg hover:text-5xl">{{ pastDue }}</h3>
                            </a>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full lg:w-1/2 xl:w-1/4 p-2 px-4">
                    <!--Metric Card-->
                    <div class="bg-gradient-to-b from-yellow-200 to-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-yellow-400"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                                </svg></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                            <a href="{% url 'objection-open' %}">
                                <h5 class="font-bold text-gray-600 text-xs uppercase">Open Items</h5>
                                <h3 class="font-bold text-gray-600 text-lg hover:text-5xl">{{ openObj }}</h3>
                            </a>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full lg:w-1/2 xl:w-1/4 p-2 px-4">
                    <!--Metric Card-->
                    <div class="bg-gradient-to-b from-purple-200 to-purple-100 border-b-4 border-purple-500 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-purple-400"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                </svg></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                            <a href="{% url 'objection-accepted' %}">
                                <h5 class="font-bold text-gray-600 text-xs uppercase">Accepted - MTD</h5>
                                <h3 class="font-bold text-gray-600 text-lg hover:text-5xl">{{ acceptedObj }}</h3>
                            </a>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full lg:w-1/2 xl:w-1/4 p-2 px-4">
                    <!--Metric Card-->
                    <div class="bg-gradient-to-b from-red-200 to-red-100 border-b-4 border-red-500 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-red-400"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                            <a href="{% url 'objection-rejected' %}">
                                <h5 class="font-bold text-gray-600 text-xs uppercase">Rejected - MTD</h5>
                                <h3 class="font-bold text-gray-600 text-lg hover:text-5xl">{{ rejectedObj }}</h3>
                            </a>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full lg:w-1/2 xl:w-1/4 p-2 px-4">
                    <!--Metric Card-->
                    <div class="bg-gradient-to-b from-blue-200 to-blue-100 border-b-4 border-blue-500 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-blue-400"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                            <a href="{% url 'objection-closed91e' %}">
                                <h5 class="font-bold text-gray-600 text-xs uppercase">Closed 9.1E - MTD</h5>
                                <h3 class="font-bold text-gray-600 text-lg hover:text-5xl">{{ closed91E }}</h3>
                            </a>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>      
                <div class="w-full lg:w-1/2 xl:w-1/4 p-2 px-4">
                    <!--Metric Card-->
                    <div class="bg-gradient-to-b from-yellow-100 to-yellow-50 border-b-4 border-yellow-400 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-yellow-200"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold text-gray-600 text-xs uppercase">AHT (Submit to Close)</h5>
                                <h3 class="font-bold text-gray-600 text-lg">{{ AHTSubmitClose }}</h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>      
                <div class="w-full lg:w-1/2 xl:w-1/4 p-2 px-4">
                    <!--Metric Card-->
                    <div class="bg-gradient-to-b from-green-100 to-green-50 border-b-4 border-green-400 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-green-200"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold text-gray-600 text-xs uppercase">AHT (Start to Close)</h5>
                                <h3 class="font-bold text-gray-600 text-lg">{{ AHTStartClose }}</h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>   
                <div class="w-full lg:w-1/2 xl:w-1/2 p-2 px-4">
                    <!--Graph Card-->
                    <div class="bg-white border-transparent rounded-lg shadow-xl">
                        <div class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-md text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
                            <h5 class="font-bold text-gray-600">Trend of Submitted Objections</h5>
                        </div>
                        <div class="p-5">
                            <canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
                            <script>
                                new Chart(document.getElementById("chartjs-1"), {
                                    "type": "bar",
                                    "data": {
                                        "labels": {{ submitted_label|safe }},
                                        "datasets": [{
                                            "label": "Number of submitted objections",
                                            "data": {{ submitted_data|safe }},
                                            "borderColor": {{ subchart_colours|safe }},
                                            "backgroundColor": {{ subchart_border_colours|safe }}
                                        }]
                                    },
                                    "options": {
                                        "scales": {
                                            "yAxes": [{
                                                "ticks": {
                                                    "beginAtZero": true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                    <!--/Graph Card-->
                </div>   
                <div class="w-full lg:w-1/2 xl:w-1/2 p-2 px-4">
                    <!--Graph Card-->
                    <div class="bg-white border-transparent rounded-lg shadow-xl">
                        <div class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-md text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
                            <h5 class="font-bold text-gray-600">Trend of Concluded Objections</h5>
                        </div>
                        <div class="p-5">
                            <canvas id="chartjs-2" class="chartjs" width="undefined" height="undefined"></canvas>
                            <script>
                                new Chart(document.getElementById("chartjs-2"), {
                                    "type": "bar",
                                    "data": {
                                        "labels": {{ closed_label|safe }},
                                        "datasets": [{
                                            "label": "Number of closed objections",
                                            "data": {{ closed_data|safe }},
                                            "borderColor": {{ clchart_colours|safe }},
                                            "backgroundColor": {{ clchart_border_colours|safe }}
                                        }]
                                    },
                                    "options": {
                                        "scales": {
                                            "yAxes": [{
                                                "ticks": {
                                                    "beginAtZero": true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                    <!--/Graph Card-->
                </div>                 
            </div>
{% endblock content %}