{% extends "base.html" %}

{% block pageheader %}
    <p>View Complaint Language</p>
{% endblock pageheader %}

{% block contentheader %}
    <p>detail of complaint language</p>
{% endblock contentheader %}

{% block content %}
<div class="w-3/4">
    <table class="min-w-full table-auto">
        <thead class="justify-between">
          <tr class="bg-gray-800">
            <th class="px-8 py-2 text-left">
              <span class="text-gray-300">Complaint Language</span>
            </th>
            <th class="px-8 py-2 text-left">
              <span class="text-gray-300">Active</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200">
            <td class="px-8 py-2 text-left">
              <span>{{ language.name }}</a></span>
            </td>
            <td class="px-8 py-2 text-left">
              <span>{{ language.active }}</span>
            </td>
          </tr>
        </tbody>
    </table>

    <div class="flex flex-wrap w-full text-center">
        <div class="pt-4">
            <a href="{% url 'language-update' language.id %}" class="font-bold text-gray-500 hover:text-blue-800 underline">Edit</a>
        </div>
        <div class="w-8"></div>
        <div class="pt-4">                
            <a href="{% url 'language-list' %}" class="font-bold text-gray-500 hover:text-blue-800 underline">Go Back</a>
        </div>                          
    </div>
</div>
{% endblock content %}


