{% extends "base.html" %}

{% block pageheader %}
    <p>View Objections</p>
{% endblock pageheader %}

{% block contentheader %}
    <p>list of objections (Past 6 Months)</p>
{% endblock contentheader %}

{% block content %}
<div class="w-full">
    {% if objections %}
            <table id="obj" class="min-w-full table-auto display">
                <thead class="justify-between">
                <tr class="bg-gray-800">
                    <th class="px-8 py-2 text-left">
                    <span class="text-gray-300">Complaint No</span>
                    </th>
                    <th class="px-8 py-2 text-left">
                    <span class="text-gray-300">Language</span>
                    </th>                    
                    <th class="px-8 py-2 text-left hidden md:table-cell">
                    <span class="text-gray-300">Service Provider</span>
                    </th>
                    <th class="px-8 py-2 text-left hidden md:table-cell">
                    <span class="text-gray-300">Agent</span>
                    </th>
                    <th class="px-8 py-2 text-left">
                    <span class="text-gray-300">Date Submitted</span>
                    </th>
                    <th class="px-8 py-2 text-left hidden md:table-cell">
                    <span class="text-gray-300">Start Date</span>
                    </th>
                    <th class="px-8 py-2 text-left hidden md:table-cell">
                    <span class="text-gray-300">Due Date</span>
                    </th>
                    <th class="px-8 py-2 text-left hidden md:table-cell">
                    <span class="text-gray-300">End Date</span>
                    </th>                                                                                                    
                </tr>
                </thead>
                <tbody class="bg-gray-200">
                {% for objection in objections %}
                <tr class="bg-white border-4 border-gray-200">
                    <td class="px-8 py-2 text-left">
                    <span><a href="/objection/objections-list/{{ objection.pk }}/">{{ objection.complaint_id|default_if_none:"&nbsp;" }}</a></span>
                    </td>
                    <td class="px-8 py-2 text-left">
                    <span><a href="/objection/objections-list/{{ objection.pk }}/">{{ objection.complaint_language|default_if_none:"&nbsp;" }}</a></span>
                    </td>                    
                    <td class="px-8 py-2 text-left hidden md:table-cell">
                    <span><a href="/objection/objections-list/{{ objection.pk }}/">{{ objection.service_provider|default_if_none:"&nbsp;" }}</a></span>
                    </td>
                    <td class="px-8 py-2 text-left hidden md:table-cell">
                    <span><a href="/objection/objections-list/{{ objection.pk }}/">{{ objection.agent|default_if_none:"&nbsp;" }}</a></span>
                    </td>
                    <td class="px-8 py-2 text-left">
                    <span><a href="/objection/objections-list/{{ objection.pk }}/">{{ objection.date_submitted|date:'Y-m-d H:i' }}</a></span>
                    </td>
                    <td class="px-8 py-2 text-left hidden md:table-cell">
                    <span><a href="/objection/objections-list/{{ objection.pk }}/">{{ objection.date_processing_start|date:'Y-m-d H:i' }}</a></span>
                    </td>
                    <td class="px-8 py-2 text-left hidden md:table-cell">
                    <span><a href="/objection/objections-list/{{ objection.pk }}/">{{ objection.due_date|date:'Y-m-d H:i' }}</a></span>
                    </td>
                    <td class="px-8 py-2 text-left hidden md:table-cell">
                    <span><a href="/objection/objections-list/{{ objection.pk }}/">{{ objection.date_processing_end|date:'Y-m-d H:i' }}</a></span>
                    </td>                                                                                                    
                </tr>
                {% endfor %}
                </tbody>
            </table>
    {% else %}
    <p>No items found!!!</p>
    {% endif %}
</div>

{% endblock content %}