{% extends "base.html" %}

{% block pageheader %}
    <p>Create Objection Status</p>
{% endblock pageheader %}

{% block contentheader %}
    <p>create an objection status record</p>
{% endblock contentheader %}

{% block content %}
<div class="flex flex-wrap w-3/4 border-2 border-gray-400 p-4">
    <div class="flex w-full justify-around"> 
        <div class="flex justify-center">
            <form method="post" class="flex flex-col"> 
                {% csrf_token %} 
                <table>{{ form }}</table>
                <div class="flex pt-4 justify-between">
                    <input class="h-8 w-24 text-xs text-indigo-100 transition-colors duration-150 bg-blue-700 rounded-lg cursor-pointer focus:shadow-outline hover:bg-indigo-800" type="submit" value="Save"> 
                    <div class="w-4"></div>
                    <a href="{% url 'administrative-tasks' %}" class="flex justify-center h-8 w-24 text-xs items-center text-indigo-100 transition-colors duration-150 bg-red-500 rounded-lg cursor-pointer focus:shadow-outline hover:bg-red-800">Cancel</a>
                </div>
            </form> 
        </div>
    </div>         
</div>
{% endblock content %}