{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Objection Management System</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">

    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
    {% tailwind_css %}
    <link href="{% static 'fontawesome_free/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'chart.js/dist/chart.js' %}"></script>
</head>


<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">

    <div class="flex flex-col w-full">
        <h3 class="px-12 text-gray-300 text-3xl pb-12">Password Reset Link Sent</h3>
        <p class="px-12 text-gray-300 text-lg pb-12">Instructions have been sent to your email address for setting your password. If an account exists with the email address you entered, you should receive them shortly.</p>
        <p class="px-12 text-gray-300 text-lg pb-12">If you don’t receive an email, please make sure you’ve entered your email address correctly and check your spam folder.</p>
    </div>

</body>

</html>

